@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;

}

/*Partial div fade in when it loads*/
.partials {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#aboutBox {
	height: 100%;
}

#adminInBtn {
	float: right;
	margin-top: 1em;
}

.bar {
	background-color: rgb(231,166,20);
	width: 100%;
	height: 7px;
}

.bottom {
	margin-bottom: 1.5em;
}

.box {
	border-radius: 5px;
	background-color: aliceblue;
	border: 1px solid #ddd;
}

#contactAddress{
	margin-top: 1em;
	margin-left: 8px;
}

.contactBox {
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	width: 250px;
}

.contactBox i {
	margin-right: 10px;
}

.contactBox p {
	margin-top: 5px;
	margin-bottom: 0px;
}

.current {
	background-color: rgb(231,166,20);
}

#camera_wrap_1 {
	height: 100px;
}

.error {
	color: red;
}

.events {
	margin-bottom: 1em;
}

.events p {
	color: gray;
	font-size: 12px;
}

.eventBody {
	color: rgb(0,85,150);
}

#eventColumn, .eventDescript {
	padding: 15px;
}

#footer {
	background-color: rgb(0,85,150);
}

#footer span {
	color: rgb(231,166,20);
	font-variant: small-caps;
	font-weight: bold;
}

#footer i {
	margin-right: 5px;
}

h2, h3 {
	color: rgb(0,85,150);
}

header {
	height: 50px;
}

.hide {
	display: none;
}

.icon-bar {
	background-color: rgb(231,166,20);
}

/*For embeded Gooogle Map*/
iframe {
	margin-bottom: 3em;	
}

#logo {
	position: fixed;
	top: -0.5em;
	margin-left: 1em;
	width: 70px;
}

#map-container {
	border:3px solid black;
	float:left;
	height:500px;
	margin:1.5em;
	width:60%;
}

.navbar-right {
 	margin-right: 1em;
}

.navbar {
	background-color: rgb(0,85,150);	
}

.navbar-brand { 
	color: rgb(231,166,20);
	font-size: 30px;
	margin-left: 3em;
}

.navbar-brand:hover { 
	color: rgb(231,166,20);
}

.navbar-brand:visited { 
	color: white;
}

nav a {
	color: white;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

.panel-default>.panel-heading {
	background-color: aliceblue;	
}

.panel i {
	margin-right: 1em;
}

.pictures {
	max-width: 100%;
	height: 300px;
	border-radius: 5px;
}

#slogan {
	color: rgb(231,166,20);
	text-align: right;
	font-weight: bold;
	margin-top: 3.5em;
	margin-right: 5em;
}

.section img{
	float: left;
	margin: 1em;
}

#signinForm input{
	width: 60%;
}


@media screen and (min-width:768px) {
	#eventBox {
		float: left;
		min-height: 500px;
	}
	.pictures {
		float: right;
		height: 300px;
		margin-left: 1em;
		border-radius: 5px;
	}
}

@media screen and (min-width:992px) {

}

@media screen and (min-width:1200px) {

}