@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body, html{
	height: 100%;
}

body { 
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}

h2, h3 {
	color: rgb(0,85,150);
}

/*Partial div fade in when it loads*/
.partials {
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
	overflow: auto;
	padding-bottom: 7%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*Upcoming Events, Current Officers and Contact Information Boxes*/
.box {
	border-radius: 5px;
	background-color: aliceblue;
	border: 1px solid #ddd;
}

/*Navigation Bar Pi Kappa Phi Logo*/
#logo {
	position: fixed;
	top: -0.5em;
	margin-left: 1em;
	width: 70px;
}

/*Navigation Bar and Footer*/
header {
	height: 50px;
}

.icon-bar {
	background-color: rgb(231,166,20);
}

.navbar {
	background-color: rgb(0,85,150);	
}

.navbar-right {
 	margin-right: 1em;
}

.navbar-brand { 
	color: rgb(231,166,20);
	font-size: 30px;
	margin-left: 3em;
}

.navbar-brand:hover { 
	color: rgb(231,166,20);
}

.navbar-brand:visited { 
	color: white;
}

.current {
	background-color: rgb(231,166,20);
}

nav a {
	color: white;
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

#footer {
	background-color: rgb(0,85,150);
	position: absolute;
 	bottom: 0px;
 	width: 100%;
}

#footer span, #footer label {
	color: rgb(231,166,20);
	font-variant: small-caps;
	font-weight: bold;
}

#footer button {
	margin-top: 0.5em;
}

#footer i {
	margin-right: 5px;
}

.bar {
	background-color: rgb(231,166,20);
	width: 100%;
	height: 7px;
}


/*Home Page*/
#aboutBox {
	height: 100%;
}
#aboutAbility {
	width: 300px;
}

#aboutOfficer {
	padding: 1em;
	margin-bottom: 1em;
}

#history {
	margin-bottom: 3em;
}

.panel-default > .panel-heading {
	background-color: rgba(240, 248, 255, 0.5);	
}

.panel i {
	margin-right: 1em;
}



/*Events on the Home Page*/
#eventColumn {
	margin-bottom: 2em;

}

#eventBox {
	margin-top: 3em;
}

.events {
	margin-bottom: 1em;
	cursor: pointer;
}

.events h4 {
	font-weight: 550;
}

.events i {
	float: right;
	color: gray;
}

.events p {
	color: gray;
	font-size: 12px;
}

.eventBody {
	color: rgb(0,85,150);
}

#eventColumn, .eventDescript {
	padding: 15px;
}


/*Recruitment Page*/
.error {
	color: red;
}

#recruitBox {
	margin: 1em;
	margin-bottom: 3em;
	padding: 1em;
	width: 50%;
}

#recruitBox input{
	width: 100%;
}

/*Philanthropy Page*/
#philan {
	padding-bottom: 3em;
}


/*Contact Page*/
.contactBox {
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	width: 100%;
}

.contactBox i {
	margin-right: 10px;
}

.contactBox p {
	margin-top: 5px;
	margin-bottom: 0px;
}

#contactAddress{
	margin-top: 1em;
	margin-left: 8px;
}


/*Admin Page*/
#admin button {
	float: right;
	margin-right: 1em;
	margin-bottom: 3em;
}

#admin input {
	width: 60%;
}

#admin h2 {
	margin-bottom: 0px;
}

#admin h3 {
	margin-top: 1em;
}

.iconCol {
	cursor: pointer;
	width: 5%;
}

.iconCol:hover {
	color: rgb(231,166,20);
}


/*div for inner contents*/
#cont {
	min-height: 100%;
	position: relative;
}


/*For embeded Gooogle Map*/
iframe {
	margin-bottom: 5em;	
}




/*Not sure what these ones are -Michael*/
#camera_wrap_1 {
	height: 100px;
}

.camera_pag_ul {
	display: none;
}

.hide {
	display: none;
}


#loginReq {
	margin-top: 1em;
	font-size: 30px;
}

.pictures {
	max-width: 100%;
	height: 300px;
	border-radius: 5px;
	margin-bottom: 1em;
}

#slogan {
	color: rgb(231,166,20);
	text-align: right;
	font-weight: bold;
	margin-top: 3.5em;
	margin-right: 5em;
}

.section img{
	float: left;
	margin: 1em;
}

#signinForm input{
	width: 60%;
}

/* Screens larger than 768px */
@media screen and (min-width:768px) {

	/*General style of pictures*/
	.pictures {
		float: right;
		height: 300px;
		margin-left: 1em;
		border-radius: 5px;
	}

	/* Ability Experience Logo on Home Page */
	#aboutAbility {
		margin-left: 10%;
		width: 500px;
	}

	.camera_pag_ul {
		display: block;
	}	

	/*Contact Boxes in Contact Page*/
	.contactBox {
		float: left;
		margin-left: 0px;
		width: 250px;
	}

	/* Events on Home Page*/
	#eventBox {
		float: left;
	}

	.galleryPic {
		cursor: pointer;
		max-height: 150px;
	}

	/* History in Home Page*/
	#history {
		margin-bottom: 0px;
	}


	
	/*Picture in Philan Page*/
	#philanPic2 {
		width: 100%;
		height: 500px;
		margin-bottom: 1em;
	}

	/* Recruitment Form in Recruit Page*/
	#recruitBox input{
		width: 100%;
		margin-bottom: 0px;
	}

	#recruitFormPic {
		background-image: url("../img/brotherhood2.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
		min-width: 500px;
		min-height: 418px;
		margin-top: 1em;
	}

}

@media screen and (min-width:992px) {

}

@media screen and (min-width:1200px) {

	#philanPic1 {
		height: 180px;
	}

	.recruitPic {
		height: 240px;
	}

}