<div id="about" ng-controller="AdminCtrl">

<div class="container partials">
	
	<div class="container">
		<h2>History</h2>
		<img class="pictures" src="img/history.png" alt="history pic for pi kappa phi"/>
		<div id="aboutBox">
			<p>On a quiet December evening in 1904 in Charleston, S.C., three friends—Andrew Kroeg, Simon Fogarty and Harry Mixson—made a choice to lead. Those three men chose to start their own fraternity. The three grew to seven; seven grew to eight; eight grew to 11. From the College of Charleston, they spread to nearby Presbyterian in 1907—and then to California in 1909. In just over four years, Pi Kappa Phi had become a truly national fraternity. Over the course of a century, a fraternity with humble beginnings has grown into a brotherhood of more than 100,000 strong—all because three men made a choice to lead.<p>
		</div>
	</div>

	<div class="container">
		<h2>Current Officers</h2>
		<ul class="list-unstyled">
	    	<li ng-repeat="officer in officers" id="container-box">
	    		<p><b>{{officer.position}}</b> {{officer.name}} <i>{{officer.year}}</i></p>
	    	</li>
	  	</ul>
	</div>

</div>	

</div>