<div ng-controller="AdminCtrl" class="partials container">
    <h2>Admin Page</h2>
    <br>

    <h3>Announcements</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Description</th>
            <th>
        </tr>
        <tr ng-repeat="announcement in announce"> 
            <!-- Change to show only MM/DD -->
            <td>{{announcement.time | date: 'shortDate'}}</td> 
            <td>{{announcement.title}}</td>
            <td>{{announcement.description}}</td>
            <td><i class="fa fa-trash-o" ng-click="announce.$remove(announcement)"></i></td>
    </table>
    <button id="orderButton" type='submit' class="btn btn-primary" ng-click="addNewAnnounce()">Add New Announcement</button>
    <br>
    <h3>Events</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Location</th>
            <th>Time</th>
            <th>Description</th>
            <th>
        </tr>
        <tr ng-repeat="event in events"> 
            <td>{{event.date}}</td>
            <td>{{event.title}}</td>
            <td>{{event.location}}</td>
            <td>{{event.time}}</td>
            <td>{{event.description}}</td>
            <td><i class="fa fa-trash-o" ng-click="events.$remove(event)"></i></td>
    </table>
    <button id="orderButton" type='submit' class="btn btn-primary" ng-click="addEvent()">Add New Event</button>
    <br>
    <h3>New Members</h3>
        <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>
        </tr>
        <!-- Will use ng-repeat for the Mandrill API call -->
        <tr ng-repeat="recruit in newRecruits"> 
            <td>{{recruit.name}}</td>
            <td>{{recruit.email}}</td>
            <td>{{recruit.phonenumber}}</td>
            <td><i class="fa fa-trash-o" ng-click="events.$remove(event)"></i></td>
    </table>
    <button id="orderButton" type='submit' class="btn btn-primary" ng-click="confirmation()">Clear all New Members</button>
    <br>
    <h3>Current Officers</h3>
        <table class="table">
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Year</th>
            <th>
        </tr>
        <tr ng-repeat="officer in officers"> 
            <td>{{officer.position}}</td>
            <td>{{officer.name}}</td>
            <td>{{officer.year}}</td>
            <td><i class="fa fa-pencil" ng-click="edit($index)"></i></td>
    </table>
</div>