<!-- Confirmation for Deleting All New Recruits -->
 <div class="modal-body">
 	<h2>Delete All New Recruits</h2>
 	<form name="confirmDelete" class="form" novalidate>
		<div class="form-group">
			<label for="confirm">Are you sure you want to delete ALL New Recruits?</label><br>
	
		<!-- Button to clear all members or close out of modal -->
		<div class="modal-footer">
			<!-- Disable this when user did not enter DELETE -->
			<button class="btn btn-primary" type="submit" ng-click="cancel(); removeAll()">Yes</button>
			<button class="btn btn-warning" type="submit" ng-click="cancel()">No</button>
		</div>
</div>