<div ng-controller="AdminCtrl" class="container partials">
	<div id="eventBox box" class="container col-md-3">
		<h2>Upcoming Events</h2>
		<div id="eventColumn" class= "box">
		<div ng-repeat="event in events" class="events" ng-click="eventDetail($index)">
			<h4>{{event.title}}<i class="fa fa-external-link"></i></h4>
			<p>{{event.location}}</p>
			<p>{{event.date}}&nbsp;{{event.time}}</p>
		</div>
		</div>


		<h2>Current Officers</h2>
		<div id="aboutOfficer" class="box">
			<ul class="list-unstyled">
		    	<li ng-repeat="officer in officers">
		    		<p><b>{{officer.position}}</b><br>
		    		{{officer.name}} (<i>{{officer.year}}</i>)</p>
		    	</li>
		  	</ul>
		</div>	
	</div>

	<div class="container col-md-9">
	  <h2>Annoucements</h2>
	  <div class="panel-group">
	    <div ng-repeat="announcement in announce" class="panel panel-default">
	      <div class="panel-heading">
	        <h4 class="panel-title">
	          <a data-toggle="collapse" href="#{{$index}}"><i class="fa fa-caret-right"></i>[{{announcement.time | date: 'shortDate'}}]  {{announcement.title}}</a>

	        </h4>
	      </div> <!-- panel-heading -->
	      <div ng-attr-id="{{$index}}" class="panel-collapse collapse">
	        <div class="panel-body">
				<p>{{announcement.description}}</p>
	        </div> <!-- panel-body -->
	      </div> <!-- annouce1 -->
	  	</div> <!-- panel -->
	   </div> <!-- panelGroup -->
	  </div> <!-- Annoucement -->

	<!-- About -->


	<div class="container col-md-9">
		<h2>History</h2>
		<img class="pictures" src="img/history.png" alt="history pic for pi kappa phi"/>
		<div id="aboutBox">
			<p>On a quiet December evening in 1904 in Charleston, S.C., three friends—Andrew Kroeg, Simon Fogarty and Harry Mixson—made a choice to lead. Those three men chose to start their own fraternity. The three grew to seven; seven grew to eight; eight grew to 11. From the College of Charleston, they spread to nearby Presbyterian in 1907—and then to California in 1909. In just over four years, Pi Kappa Phi had become a truly national fraternity. Over the course of a century, a fraternity with humble beginnings has grown into a brotherhood of more than 100,000 strong—all because three men made a choice to lead.<p>
		</div>
	</div>

	
	<img id="aboutAbility" class="col-md-6" src="img/AbilityExp-logo.png" alt="history pic for pi kappa phi"/>
</div>


