
<div class="container partials">
	


	<div id="eventBox" class="container col-sm-3">
		<h2>Upcoming Events</h2>
		<div id="eventColumn">
		<div ng-repeat="event in events" class="events" ng-click="eventDetail($index)">
			<h4>{{event.title}}</h4>
			<p>{{event.location}}</p>
			<p>{{event.date}}&nbsp;{{event.time}}</p>
		</div>
		</div>
	</div>



	<div class="container col-sm-9">
	  <h2>Annoucements</h2>
	  <div class="panel-group">
	    <div ng-repeat="announcement in announce" class="panel panel-default">
	      <div class="panel-heading">
	        <h4 class="panel-title">
	          <a data-toggle="collapse" href="#{{$index}}"><i class="fa fa-caret-right"></i>{{announcement.title}}</a>
	        </h4>
	      </div> <!-- panel-heading -->
	      <div ng-attr-id="{{$index}}" class="panel-collapse collapse">
	        <div class="panel-body">
	        	<p>{{announcement.date}}</p>
				<p>{{announcement.description}}</p>
	        </div> <!-- panel-body -->
	      </div> <!-- annouce1 -->
	  	</div> <!-- panel -->
	   </div> <!-- panelGroup -->
	  </div> <!-- Annoucement -->

	<div class="container col-sm-9">
	  <img src="img/AbilityExp-logo.png"/>
	</div>
</div>


