<div class="container partials">
	<h2>Philanthropy</h2>
	
		<h3>Upcoming philanthropy events</h3>
	<p>
		Wheel Chair Basketball Tournament hosted at UW IMA in March 2016<br>
		Volunteered with Seattle Adaptive Sports in Spring 2015 (see pics) <br>
		Bike-a-thon in Spring 2015 (see pics)
	</p>

	<h3>The Ability Experience</h3>
	<img src="img/AbilityExperience.jpg" class="ability">
	<p>
		Pi Kappa Phi is unique in that it is the only fraternity or sorority to own and operate its own national philanthropy. The Ability Experience, formerly Push America, is a 501(c)(3) nonprofit organization that serves people with disabilities. The Ability Experience was founded in 1977 as the national philanthropy of Pi Kappa Phi Fraternity with the purpose of instilling lifelong service in its members and enhancing the quality of life for people with disabilities. Although the organization is still fulfilling the purpose for which it was intended, The Ability Experience has grown into a nationally recognized nonprofit with numerous programs educating undergraduates, alumni and communities about the abilities of people with disabilities. 
	</p>


	<h3>The Journey of Hope</h3>
	<p>
		One of the main events held by The Ability Experience each year is The Journey of Hope. Journey of Hope is a cross-country bicycle trek beginning in San Francisco (North), Los Angeles (South) and Seattle (TransAmerica) and ending together with all teams in Washington, D.C.. The event raises funds and awareness for people with disabilities. Simply put, the Journey of Hope is a ride with a purpose. Make no mistake; this is not a simple ride. Journey of Hope is about many things. It is about challenging the norm. It is about serving our communities. It is about finding out more about ourselves than we ever imagined. It is about having a dream. It is about a mission. It is about hope. 
	</p>


	<p class="bottom">
		The Journey of Hope reaches out to people through newspapers, radio and television, civic groups and community leaders, reaching millions of people annually and bringing to the forefront the abilities of people with disabilities. From the inaugural team of 21 team members raising $20,000, the team has since been expanded into three different routes of 35 Pi Kappa Phis and annually raises more than $500,000. The Alpha Delta chapter of PI Kappa Phi consistently sends riders on this trip each year. Just this past year, two members from the Alpha Rho pledge class, Davis Berg and Grant Uselman, both completed the south route. Currently there are four active members in the Alpha Delta chapter who have completed The Journey of Hope.
	</p>
</div>