<!DOCTYPE html>
<html lang="en" ng-app="MainApp">
<head>
    <meta charset="utf-8">

    <!-- viewport declaration for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- page information -->

    <meta name="description" content="Pi Kappa Phi Website created by INFO 343 Students">
    <meta name="author" content="Nichelle Woosuk Jake Michael">
    <title>Pi Kappa Phi</title>
    <link rel="icon" href="../img/logo-icon.png"/>  

    <!-- Load Camera stylesheets -->
    <link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'> 

    <!-- Load main stylesheets -->
    <link rel="stylesheet" href="css/main.css"/>
    
    <!-- load angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
</head>
    
<body ng-controller="IndexCtrl">
<div id="cont">
    <header>
        <!-- Navigation Bar -->
        <nav class="navbar navbar-fixed-top">
            <div class="bar"></div>
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a ui-sref="home"><img id="logo" src="img/logo-circle.png"/><span class="navbar-brand">Pi Kappa Phi</span></a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                <ul class="nav navbar-nav">
                     <li><a data-toggle="collapse" data-target="#myNavbar" ui-sref="home" ui-sref-active="current">HOME</a></li>
                     <li><a data-toggle="collapse" data-target="#myNavbar"ui-sref="recruit" ui-sref-active="current">RECRUIT</a></li>
                     <li><a data-toggle="collapse" data-target="#myNavbar"ui-sref="philanthropy" ui-sref-active="current">PHILANTHROPY</a></li>
                     <li><a data-toggle="collapse" data-target="#myNavbar"ui-sref="contact" ui-sref-active="current">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- Show picture slide only when ui-router state is 'home' -->
    <div ng-class="{'hide': !$state.includes('home')}">
        <div class="camera_wrap" id="camera_wrap_1" >
            <div data-src="img/img1.jpg"></div>
            <div data-src="img/img2.jpg"></div>
            <div data-src="img/img3.jpg"></div>
            <div data-src="img/img4.jpg"></div>
            <div data-src="img/img5.jpg"></div>
            <div data-src="img/img6.jpg"></div>
            <div data-src="img/img7.jpg"></div>
            <div data-src="img/img8.jpg"></div>
            <div data-src="img/img9.jpg"></div>
        </div>
    </div>

    <!-- Display partials -->
    <main>
        <div ui-view></div>
    </main>

    <!-- footer -->
    <footer id="footer" class="panel-footer" ng-controller="AdminCtrl">
        <a ng-controller="IndexCtrl" data-toggle="collapse" href="{{$state.current.name}}/#loginField">
            <span><i class="fa fa-caret-right"></i>For Admin</span>
        </a>
   
        <div id="loginField" class="collapse">
            <form name="signinForm" novalidate>
            <!-- Bind model "email" to this input and make the help-block show up if bad format -->
            <div ng-show="!userId" class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="form-control" ng-model="admin.email">
                <!-- Show an error message if the email is not valid -->    
                <p class="help-block error" ng-if="signinForm.email.$error.email">Not an email!</p>
            </div>

            <!-- Bind model "password" to this input -->
            <div ng-show="!userId" class="form-group">
                <label for="pw">Password:</label>
                <input id="pw" name="password" type="password" class="form-control" required ng-model="admin.password">
            </div>

            <!-- Submit buttons -->
            <div class="form-group">
                <a ng-controller="IndexCtrl" data-toggle="collapse" href="{{$state.current.name}}/#loginField">
                    <button ng-show="!userId" type="submit" class="btn btn-warning" ng-click="signIn(); goToAdmin()" ng-disabled="signinForm.email.$invalid || signinForm.password.$invalid"><i class="fa fa-sign-in"></i>Sign-in</button>
                </a>
                 <a data-toggle="collapse" href="/admin/#loginField" ng-click="goToAdmin()">
                    <button class="btn btn-warning" ng-show="userId"><i class="fa fa-pencil-square-o"></i>Edit</button>
                </a>
                <a data-toggle="collapse" href="#loginField">
                    <button type="submit" class="btn btn-warning"  ng-show="userId" ng-click="logOut()"><i class="fa fa-sign-out"></i>Sign-Out</button>
                </a>
            </div>
            </form>
        </div>
    <div class="bar"></div>
    </footer>
    </div>
    
    <!-- load external libraries -->
    <script type="text/javascript" src="https://mandrillapp.com/api/docs/js/mandrill.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="lib/ui-bootstrap-tpls-0.14.3.min.js"></script>

    <!-- load jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- load scripts for 'Camera' picture slide -->
    <script src='js/jquery.easing.1.3.js'></script>
    <script src='js/camera.min.js'></script> 

    <!-- load bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- load firebase-->
    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

    <!-- load our script -->
    <script src="js/app.js"></script>
    <script src="js/main.js"></script>

</body>


</html>